openapi: 3.1.0
info:
  title: Pinnacle Lines Cancellationreasons Odds API
  version: v1
  description: Pinnacle Lines API exposes endpoints for retrieving fixtures, odds, lines, sports, leagues, periods, in-running events and reference data used to place bets through Pinnacle.
  x-generated-from: https://github.com/pinnacleapi/pinnacleapi-documentation
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.pinnacle.com
security:
- basicAuth: []
tags:
- name: Odds
paths:
  /v2/odds:
    get:
      summary: Get Straight Odds
      operationId: getStraightOdds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      tags:
      - Odds
  /v1/odds/teaser:
    get:
      summary: Get Teaser Odds
      operationId: getTeaserOdds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      tags:
      - Odds
  /v1/odds/special:
    get:
      summary: Get Special Odds
      operationId: getSpecialOdds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      tags:
      - Odds
components:
  schemas:
    GenericResponse:
      type: object
      additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
