openapi: 3.1.0
info:
  title: Pinnacle Lines API
  version: v1
  description: >-
    Pinnacle Lines API exposes endpoints for retrieving fixtures, odds, lines,
    sports, leagues, periods, in-running events and reference data used to
    place bets through Pinnacle.
  x-generated-from: https://github.com/pinnacleapi/pinnacleapi-documentation
  x-generated-by: claude-crawl-2026-05-08
servers:
  - url: https://api.pinnacle.com
security:
  - basicAuth: []
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    GenericResponse:
      type: object
      additionalProperties: true
    GenericRequest:
      type: object
      additionalProperties: true
paths:
  /v1/fixtures:
    get:
      summary: Get Fixtures
      operationId: getFixtures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/fixtures/special:
    get:
      summary: Get Special Fixtures
      operationId: getSpecialFixtures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/fixtures/settled:
    get:
      summary: Get Settled Fixtures
      operationId: getSettledFixtures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/fixtures/special/settled:
    get:
      summary: Get Settled Special Fixtures
      operationId: getSettledSpecialFixtures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v2/odds:
    get:
      summary: Get Straight Odds
      operationId: getStraightOdds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/odds/teaser:
    get:
      summary: Get Teaser Odds
      operationId: getTeaserOdds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/odds/special:
    get:
      summary: Get Special Odds
      operationId: getSpecialOdds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/line:
    get:
      summary: Get Straight Line
      operationId: getStraightLine
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v2/line/parlay:
    post:
      summary: Get Parlay Line
      operationId: getParlayLine
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/line/teaser:
    post:
      summary: Get Teaser Line
      operationId: getTeaserLine
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/line/special:
    get:
      summary: Get Special Line
      operationId: getSpecialLine
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v2/sports:
    get:
      summary: Get Sports
      operationId: getSports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v2/leagues:
    get:
      summary: Get Leagues
      operationId: getLeagues
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/periods:
    get:
      summary: Get Periods
      operationId: getPeriods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/inrunning:
    get:
      summary: Get In-Running
      operationId: getInRunning
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/teaser/groups:
    get:
      summary: Get Teaser Groups
      operationId: getTeaserGroups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/cancellationreasons:
    get:
      summary: Get Cancellation Reasons
      operationId: getCancellationReasons
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v2/currencies:
    get:
      summary: Get Currencies
      operationId: getCurrencies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
